body {
    background: #000;
    overflow: hidden;
}

#img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

#ocr-text {
    box-sizing: border-box;

    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    padding: 20px;

    background: rgba(100,100,100,0.8);
    color: #fff;
    font-size: 20px;

    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}

#progress {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: calc(100% - 3px);
    right: 100%;
    background-color: #659cef;

    transition: right 500ms ease-in-out;
}
