body {
    font-family: "OpenSans", sans-serif;
    background-color: #fff;
    padding: 0px;
}

a, label {
    cursor: default !important;
}

.nav-tabs {
    border: none;
    background-color: #333;
}

.nav-tabs .service {
    background: #070;
}

.nav-tabs .service:hover {
    background: #060;
}

.nav-tabs>li {
    margin-bottom: 0px;
}

.nav-tabs>li>a {
    border: none;
    border-radius: 0px;

    cursor: default;
    color: #ddd;
}

.nav-tabs>li>a:hover {
    border: none;
    background: #555;

    cursor: default;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border: none;
}

.tab-pane {
    background: #fff;
    padding: 10px 20px;
    border-top: none;
}
