<!DOCTYPE html>
<html ng-app="settingsWindow">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title ng-bind="AppName"></title>

    <link rel="stylesheet" href="lib-css/bootstrap.min.css">
    <link rel="stylesheet" href="lib-css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/settings-window.css">

    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>

    <script src="lib/angular.min.js"></script>

    <!-- angular-schema-form -->
    <script src="lib/tv4.js"></script>
    <script src="lib/ObjectPath.js"></script>
    <script src="lib/schema-form.min.js"></script>
    <script src="lib/bootstrap-decorator.min.js"></script>

    <script src="js/settings-window.js"></script>
  </head>
  <body ng-controller="settings">
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#general" role="tab" data-toggle="tab">General</a></li>
      <li><a href="#uploads" role="tab" data-toggle="tab">Uploads</a></li>
      <li><a href="#service" role="tab" data-toggle="tab">{{selectedService.name}}</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="general">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="settings.launchAtStartup"> Launch at Startup
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="settings.checkForUpdates"> Check for Updates
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="tab-pane" id="uploads">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-3 control-label">Upload Service</label>
            <div class="col-sm-9">
              <select class="form-control" ng-options="service.name for service in services track by service._name" ng-model="selectedService"></select>
            </div>
          </div>
          <hr>
          <div class="form-group">
            <label class="col-sm-3 control-label">Filename Prefix</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="settings.prefixFilenames">
            </div>
          </div>
          <hr>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="settings.randomizeFilenames"> Randomize Filename
                </label>
              </div>
            </div>
          </div>
          <div class="form-group" ng-show="settings.randomizeFilenames === true">
            <div class="col-sm-offset-3 col-sm-2">
              <input type="number" class="form-control" ng-model="settings.randomizeFilenamesLength" placeholder="Length">
            </div>
          </div>
          <hr>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="settings.retinaResize"> Automatically Scale High DPI Screenshots
                </label>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="settings.sendToTrash"> Move to Trash After Upload
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="tab-pane" id="service">
        <form class="form-horizontal" role="form">
          <div class="form-group" ng-repeat="setting in serviceSettings">
            <label class="col-sm-3 control-label" ng-bind="setting.name"></label>
            <div class="col-sm-9">
              <input ng-if="setting.type === 'text'" type="text" class="form-control" ng-model="setting.value">
              <textarea ng-if="setting.type === 'textarea'" class="form-control" ng-model="setting.value"></textarea>
              <input ng-if="setting.type === 'password'" type="password" class="form-control" ng-model="setting.value">
              <p class="help-block" ng-bind="setting.helpText"></p>
            </div>
            <hr>
          </div>
          <p ng-show="!serviceSettings.length">No settings configurable</p>
        </form>
      </div>
    </div>
  </body>
</html>
