body {
    background: rgba(255,255,255,0.3);
    overflow: hidden;

    cursor: url('../img/cross.png') 14 14, crosshair;
}

#white {
    background: #fff;

    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    z-index: 200
}

#cords {
    position: fixed;
    top: 0px;
    left: 0px;

    margin-left: 8px;

    font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 10px;
    text-shadow: 1px 0px 0px rgba(180,180,180,0.8);

    z-index: 150;
}

#overlay {
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    z-index: 50;
}

#selection {
    position: fixed;
    
    background: rgba(100,100,100,0.3);
    
    box-shadow: 0 0 0 1px rgba(255,255,255,0.8) inset;

    display: none;

    z-index: 25;
}

#img {
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    z-index: 0;
}
