<!DOCTYPE html>
<html ng-app="settingsWindow">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title ng-bind="AppName"></title>

    <link rel="stylesheet" href="lib-css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/settings-window.css">

    <script>
      window.$ = window.jQuery = require('./lib/jquery.min.js');
    </script>
    <script src="lib/bootstrap.min.js"></script>

    <script src="lib/angular.min.js"></script>

    <script src="js/settings-window.js"></script>
  </head>
  <body ng-controller="settings">
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#about" role="tab" data-toggle="tab">About</a></li>
      <li><a href="#general" role="tab" data-toggle="tab">General</a></li>
      <li><a href="#uploads" role="tab" data-toggle="tab">Uploads</a></li>
      <li><a href="#service" role="tab" data-toggle="tab">{{selectedService.name}}</a></li>
    </ul>
    <div class="tab-content">

      <!-- about -->
      <div class="tab-pane active" id="about">
        <h4>Welcome</h4>

        <p>To upload a cropped portion of your screen use the keyboard shortcut: </p>
        <p ng-switch="Platform">
          <kbd ng-switch-when="darwin">command + shift + 4</kbd>
          <kbd ng-switch-when="win32">alt + shift + 4</kbd>
        </p>
        <br />

        <p>To upload your entire screen use the shortcut: </p>
        <p ng-switch="Platform">
          <kbd ng-switch-when="darwin">command + shift + 3</kbd>
          <kbd ng-switch-when="win32">alt + shift + 3</kbd>
        </p>
        <br />

        <h4>Uploads</h4>
        <p>
          Pussh requires an upload service to function. Choose a service in the uploads tab, and configure it in the service tab. If you are unsure which to use, try out Imgur.
          Imgur is free, requires no setup or hosting, and is the default upload service. Use the keyboard shortcut now to see Pussh in action!
        </p>
        <br />

        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-6">
              <h4>New In This Version</h4>
              <ul>
                <li>The long awaited (beta) support for Microsoft Windows</li>
                <li>Redesigned settings interface</li>
                <li>Moved to Electron framework for stability improvements</li>
                <li>Other major stability improvements and bug fixes</li>
              </ul>
            </div>
            <div class="col-xs-1">&nbsp;</div>
            <div class="col-xs-5">
              <h4>In The Next Version</h4>
              <ul>
                <li>Built-in vector based editor</li>
                <li>Vector from screenshot conversion</li>
              </ul>
            </div>
          </div>
        </div>
        
      </div>

      <!-- general -->
      <div class="tab-pane" id="general">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-3 control-label">General Settings</label>
            <div class="col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="autoLaunchSetting"> Launch at Startup
                </label>
                <p class="help-block">Launches Pussh at system startup</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="settings.checkForUpdates"> Check for Updates
                </label>
              </div>
            </div>
          </div>
          <hr />
          <div class="form-group">
            <label class="col-sm-3 control-label">Notifications</label>
            <div class="col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="settings.enableNotifications"> System Notification on Upload
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="settings.audioNotifications"> Sound Notification on Upload
                </label>
              </div>
            </div>
          </div>
          <hr />
          <div class="form-group">
            <label class="col-sm-3 control-label">Reset</label>
            <div class="col-sm-9">
              <a href class="btn btn-danger" ng-click="resetAll()">Reset All Settings</a>
              <p class="help-block">(requires manual application relaunch)</p>
            </div>
          </div>
        </form>
      </div>

      <!-- uploads -->
      <div class="tab-pane" id="uploads">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-3 control-label">Upload Service</label>
            <div class="col-sm-9">
              <select class="form-control" ng-options="service.name for service in services track by service._name" ng-model="selectedService"></select>
            </div>
          </div>
          <hr />
          <div class="form-group">
            <label class="col-sm-3 control-label">Filename Prefix</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="settings.prefixFilenames">
            </div>
          </div>
          <hr />
          <div class="form-group">
            <label class="col-sm-3 control-label">Other Settings</label>
            <div class="col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="settings.openBrowser"> Open in Browser After Upload
                </label>
              </div>
            </div>
          </div>
          <div class="form-group" ng-if="Platform != 'win32'">
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="settings.sendToTrash"> Move to Trash After Upload
                </label>
              </div>
            </div>
          </div>
          <div class="form-group" ng-if="Platform == 'darwin'">
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="settings.retinaResize"> Automatically Scale High DPI Screenshots
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="settings.randomizeFilenames"> Randomize Filename
                </label>
              </div>
            </div>
          </div>
          <div class="form-group" ng-show="settings.randomizeFilenames === true">
            <div class="col-sm-offset-3 col-sm-3">
              <span>Random Name Length</span>
              <input type="number" class="form-control" ng-model="settings.randomizeFilenamesLength" placeholder="Length">
            </div>
          </div>
        </form>
      </div>

      <!-- service -->
      <div class="tab-pane" id="service">
        <form class="form-horizontal" role="form">
          <div class="form-group" ng-repeat="setting in serviceSettings" ng-if="setting.type !== 'checkbox'">
            <label class="col-sm-3 control-label" ng-bind="setting.name"></label>
            <div class="col-sm-9">
              <input ng-if="setting.type === 'text'" type="text" class="form-control" ng-model="setting.value">
              <textarea ng-if="setting.type === 'textarea'" class="form-control" ng-model="setting.value"></textarea>
              <input ng-if="setting.type === 'password'" type="password" class="form-control" ng-model="setting.value">
              <p class="help-block" ng-bind="setting.helpText"></p>
            </div>
          </div>
          <div class="form-group" ng-repeat="setting in serviceSettings | filter:{type: 'checkbox'}">
            <label class="col-sm-3 control-label" ng-if="$first">Other Settings</label>
            <div class="col-sm-9" ng-class="{'col-sm-offset-3': !$first}">
              <div class="checkbox" ng-if="setting.type === 'checkbox'">
                <label>
                  <input type="checkbox" ng-model="setting.value"> {{setting.name}}
                </label>
              </div>
              <p class="help-block" ng-bind="setting.helpText"></p>
            </div>
          </div>
          <p ng-show="!serviceSettings.length">No settings configurable</p>
        </form>
      </div>
    </div>
  </body>
</html>
